<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eventos</title>
</head>
<body>
    <a href="/Eventos/nuevo">Nuevo Evento</a>
    <h1>Lista de eventos</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Lugar</th>
                <th>Descripción</th>
                <th>Asistentes</th>
                <th>Cancelado</th>
                <th colspan="2">Operaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="evento : ${eventosLis}">
                <td th:text="${evento.idEvento}"></td>
                <td th:text="${evento.nombre}"></td>
                <td th:text="${#temporals.format(evento.fecha, 'dd/MM/yyyy')}"></td>
                <td th:text="${#temporals.format(evento.hora, 'hh:mm a')}"></td>
                <td th:text="${evento.lugar}"></td>
                <td th:text="${evento.descripcion}"></td>
                <td th:text="${evento.asistentes}"></td>
                <td th:text="${evento.cancelado} ? 'si' : 'no'"></td>
                <td><a th:href="@{/Eventos/editar/{id}(id=${evento.idEvento})}">Editar</a></td>
                <td><a th:href="@{/Eventos/eliminar/{id}(id=${evento.idEvento})}">Eliminar</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>